name: DISCORD QUOTE SENDER
on:
  workflow_dispatch:
  schedule:
  - cron:  '0 7 * * *'
jobs:
  main:
    name: DISCORD QUOTE SENDER
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - shell: pwsh
        env:
          WEBHOOK_ID: ${{ secrets.WEBHOOK_ID }}
          WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
          QUOTE_API_URI: ${{ secrets.QUOTE_API_URI }}
        run: |
          $object = ConvertFrom-Json $(Invoke-WebRequest -Uri "$env:QUOTE_API_URI" -Method Post -DisableKeepAlive).content
          $full_quote = "″$($object.q)″ — $($object.a)"
          echo "full_quote=$full_quote" >> $GITHUB_ENV
          Write-Output "$env:full_quote"
      - uses: appleboy/discord-action@master
        with:
          webhook_id: "$env:WEBHOOK_ID"
          webhook_token: "$env:WEBHOOK_TOKEN"
          args: "$env:full_quote"