name: DISCORD QUOTE SENDER
on:
  workflow_dispatch:
  push:
  schedule:
  - cron:  '0 7 * * *'
jobs:
  main:
    name: DISCORD QUOTE SENDER
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - shell: pwsh
        run: |
          $object = ConvertFrom-Json $(Invoke-WebRequest -Uri "${{ secrets.QUOTE_API_URI }}" -Method Post -DisableKeepAlive).content
          Write-Output "$object"
          echo "QUOTE=$(echo $($object.q))" >> $GITHUB_ENV
          echo "AUTHOR=$(echo $($object.a))" >> $GITHUB_ENV
      - uses: appleboy/discord-action@master
        with:
          webhook_id: "${{ secrets.WEBHOOK_ID }}"
          webhook_token: "${{ secrets.WEBHOOK_TOKEN }}"
          message: "″${{ env.QUOTE }}″ — ${{ env.AUTHOR }}"