name: DISCORD QUOTE SENDER
on:
  workflow_dispatch:
  push:
  schedule:
  - cron:  '0 7 * * *'
jobs:
  main:
    name: DISCORD QUOTE SENDER
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - shell: pwsh
        run: |
          $object = ConvertFrom-Json $(Invoke-WebRequest -Uri "${{ secrets.QUOTE_API_URI }}" -Method Post -DisableKeepAlive).content
          export QUOTE=$($object.q)
          echo "::set-env name=QUOTE::$QUOTE"
          export AUTHOR=$($object.a)
          echo "::set-env name=AUTHOR::$AUTHOR"
      - uses: appleboy/discord-action@master
        with:
          webhook_id: "${{ secrets.WEBHOOK_ID }}"
          webhook_token: "${{ secrets.WEBHOOK_TOKEN }}"
          message: "″${{ env.QUOTE }}″ — ${{ env.AUTHOR }}"