name: DISCORD QUOTE SENDER
on:
  workflow_dispatch:
  push:
  schedule:
  - cron:  '0 7 * * *'
jobs:
  main:
    name: DISCORD QUOTE SENDER
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: appleboy/discord-action@master
        shell: pwsh
        env:
          OBJECT: ${{ ConvertFrom-Json $(Invoke-WebRequest -Uri "${{ secrets.QUOTE_API_URI }}" -Method Post -DisableKeepAlive).content }}
          QUOTE: ${{ $($object.q)) }}
          AUTHOR: ${{ $($object.a)) }}
        with:
          webhook_id: "${{ secrets.WEBHOOK_ID }}"
          webhook_token: "${{ secrets.WEBHOOK_TOKEN }}"
          message: "″${{ env.QUOTE }}″ — ${{ env.AUTHOR }}"