name: SMS QUOTE SENDER
on:
  workflow_dispatch:
  schedule:
  - cron:  '0 0 * * *'
jobs:
  main:
    name: SMS QUOTE SENDER
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - shell: pwsh
        env:
          API_KEY: ${{ secrets.API_KEY }}
          API_URI: ${{ secrets.API_URI }}
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}
        run: |
          $full_quote = $null
          while(($($full_quote.Length) -gt 160) -or ([string]::IsNullOrEmpty($full_quote)))
          {
              $object = ConvertFrom-Json $(Invoke-WebRequest -Uri https://zenquotes.io/api/random -Method Post -DisableKeepAlive).content
              $full_quote = "$($object.q) ($($object.a))"
          }
          Write-Output $full_quote
          Invoke-WebRequest -Uri "$env:API_URI" -Body @{
            "phone"="$env:PHONE_NUMBER"
            "message"="$full_quote"
            "key"="$env:API_KEY"
          } -Method Post -DisableKeepAlive